.active {
}


i.material-icons {
    vertical-align: middle;
}

.user-info {
    padding: 3px;
    p {
        margin-left: 10px;
    }
}

.button-collapse {
    margin-left: 10px;
}

.remove-book {
    cursor: pointer;
}

span {
    .badge {
        color: white;
        background-color: #26a69a;
        border-radius: 3px;
    }
}

.add-book {
    cursor: pointer;
}

.requested {
    display: inline-block;
    background-color: red
}

.request-username {
    font-style: italic;
}

.brand-logo {
    margin-left: 10px;
}

.trade-owner {
    font-weight: bold;
}

.trade-book {
    font-weight: bold;
}
