doctype html
html(lang='en')
    head
        title BOOKS
        meta(name='viewport' content='width=device-width, initial-scale=1')
    body
        div#app
        script(type='text/javascript' src='bundle.js')