doctype html
html(lang='en')
    head
        title BOOKS
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        script(src="https://code.jquery.com/jquery-2.1.1.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js")
        

    body
        div#app
        script(type='text/javascript' src='/bundle.js')